<!DOCTYPE html>
<html>
  <head>
    <title>Enjoybnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/fontawesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet'>
    <%#window image assets%>

    <script type="text/javascript">
      window.house = "<%= image_url('house.jpg') %>"
    </script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_user %>
      <script>
        window.currentUser = { 
          "id": <%= current_user.id %>,
          "username": "<%= current_user.username %>",
          "email": "<%= current_user.email %>"
          };
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
